.header {
  &-top {
    background: rgb(2, 0, 36);
    background: radial-gradient(
      circle,
      rgba(2, 0, 36, 1) 0%,
      rgba(96, 96, 205, 1) 59%,
      rgba(0, 212, 255, 1) 100%
    );
    display: flex;
    justify-content: space-around;
    padding: 30px;
    &-logo {
      img {
        width: 70%;
      }
    }
    &-search {
      display: flex;
      background-color: #ffff;
      border-radius: 5px;
      input {
        width: 321px;
        border: none;
        height: 45px;
        border-radius: 5px 0 0 5px;
        outline: none;
        padding-left: 8px;
        border-color: transparent;
      }
      ion-icon {
        color: #fff;
        width: 15px;
        height: 25px;
        background-color: #04cffd;
        border: 2px solid #fff;
        border-radius: 0px;
        flex: 0 0 35px;
        border-radius: 5px;
        padding: 10px;
      }
    }
    &-chosse {
      display: flex;
      gap: 30px;
      :hover {
        cursor: pointer;
      }
      .chosse-card {
        display: flex;
        align-items: center;
        .hydrated {
          color: #fff;
          width: 25px;
          height: 25px;
          background-color: #04cffd;
          border: 2px solid #fff;
          border-radius: 0px;
          flex: -1 0 35px;
          border-radius: 5px;
          padding: 4px;
          margin-right: 10px;
        }
        span {
          color: #fff;
          font-weight: 500;
          font-size: 15px;
        }
      }
      .chosse-account {
        display: flex;
        align-items: center;
        :hover {
          cursor: pointer;
        }
        .hydrated {
          color: #fff;
          width: 25px;
          height: 25px;
          background-color: #04cffd;
          border: 2px solid #fff;
          border-radius: 0px;
          flex: -1 0 35px;
          border-radius: 5px;
          padding: 4px;
          margin-right: 10px;
        }
        span {
          color: #fff;
          font-weight: 500;
          font-size: 15px;
        }
      }
    }
  }
}

// navbar
.header-bottom {
  display: block;
  width: 100%;
  height: 55px;
  .colorChange {
    display: block;
    width: 100%;
    background-color: #000;
    height: 55px;
    position: fixed;
  }
  .navbar-nav {
    width: 100%;
    height: 100%;
    .header__nav-list {
      display: flex;
      width: 100%;
      justify-content: space-between;
      list-style: none;
      align-items: center;
      margin-bottom: 0;
      .header__nav-item {
        height: 55px;
        display: flex;
        align-items: center;
        position: relative;
        a {
          color: #fff;
          text-decoration: none;
          font-size: 1rem;
          position: relative;
          text-decoration: none;
          overflow: hidden;
          white-space: nowrap;
          font-weight: normal;
          padding: 1rem 0;
        }
        ion-icon {
          margin-right: 5px;
        }
      }
    }
  }
}

.header--home {
  .header__nav {
    display: block;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    height: 55px;
    position: fixed;
    transition: all 2s;
    animation-duration: 3s;
    z-index: 999999999;
  }
  .colorChange {
    background: rgb(238, 174, 202);
    background: radial-gradient(
      circle,
      rgba(238, 174, 202, 1) 0%,
      rgba(148, 187, 233, 1) 100%
    );
    top: 0;
    transition: all 2s;
    animation-duration: 3s;
    z-index: 9999;
  }
}

.user_login {
  background-color: transparent;
  outline: none;
  border: none;
  z-index: 9999;
  :focus {
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    border: 1px solid transparent;
  }
}
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none !important;
}
