.MuiDataGrid-root .MuiDataGrid-cell--textLeft {
  font-size: 12px !important;
}
.MuiDataGrid-root .MuiDataGrid-columnHeaderCheckbox {
  min-width: 50px !important;
  max-width: 50px !important;
  width: 50px !important;
}
.MuiDataGrid-root .MuiDataGrid-cellCheckbox {
  min-width: 50px !important;
  max-width: 50px !important;
  width: 50px !important;
}
.MuiTooltip-popper {
  div {
    font-size: 16px !important;
  }
}
.css-ypiqx9-MuiDialogContent-root {
  padding: 20px 24px !important;
}

.MTableToolbar-searchField-42 {
  max-width: 150px;
}
.MuiStepLabel-label {
  font-size: 16px !important;
  text-align: center;
}
.MuiDialogTitle-root {
  background-color: #35e8a9;
  color: white;
  text-align: center;
  font-size: 20px !important;
  font-family: serif;
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root {
  font-size: 30px !important;
}
.css-ypiqx9-MuiDialogContent-root {
  padding-top: 20px !important;
}
.css-1x9m2tp-MuiStepLabel-root {
  margin: 0 !important;
}
.MuiInput-root {
  width: 100%;
}
.MuiTextField-root {
  width: 100%;
}
.MuiTypography-body1 {
  text-align: center !important;
}
.MTableToolbar-searchField-18 {
  width: auto;
}
.MuiSelect-select {
  font-size: 14px !important;
}
.MuiOutlinedInput-input {
  font-size: 14px !important;
  padding: 15.5px 14px !important;
}
.MUI-customBorder {
  padding: 7.4px 14px;
  padding-bottom: 7.8px;
  border: 1px solid rgba(0, 0, 0, 0.23) !important;
  border-radius: 4px !important;
}
.MuiTypography-body2 {
  font-size: 13px !important;
  word-wrap: break-word !important;
}
.MuiInputBase-input {
  font-size: 14px !important;
}
.MuiDataGrid-windowContainer {
  width: 0 !important;
  height: 0 !important;
}
.MuiDataGrid-root .MuiDataGrid-columnHeaderTitle {
  font-size: 13px !important;
}
.MUI-titleDialog {
  background-color: #9b0c0c !important;
  padding: 10px !important;
}
.MuiTooltip-popperInteractive {
  z-index: 99999 !important;
}
