.row-personal {
  margin: 1% 0;
}
.avatar {
  width: 30%;
}
.error {
  color: red;
}
.background {
  background-color: #eaeaea;
  margin-top: -50px;
}
.text-position {
  text-align: center;
}
.personal--left,
.personal--right {
  border-radius: 30px;
  padding: 5%;
  background-color: #fff;
}
.personal {
  width: 80%;
  margin: 0 auto;
  padding-top: 30%;
  padding-bottom: 2%;
  & p,
  & span {
    font-size: 1.2rem;
  }
}
.personal--left .personal--title {
  background-color: #fee1d3;
  color: #fe621b;
  width: 80%;
  height: 3rem;
  border-radius: 5px;
  line-height: 3rem;
  margin: 0 auto 10%;
  font-weight: 500;
  font-size: 1.25rem;
  box-shadow: 0px 2px #bebec0;
}

.personal--left .infor--changepass {
  text-decoration: underline;
  color: #bebec0;
  font-size: 1.2rem;
  cursor: pointer;
}

.personal--right {
  margin-top: 10%;
}

.personal--right .order--title {
  background-color: #fee1d3;
  color: #fe621b;
  width: 80%;
  height: 3rem;
  border-radius: 5px;
  line-height: 3rem;
  margin: 0 auto 5%;
  font-weight: 500;
  font-size: 1.25rem;
  text-align: center;
  box-shadow: 0px 2px #bebec0;
}

.personal--right .order-content {
  width: 100%;
}

.personal--right .order--details {
  background-color: #ffffe3;
  padding: 2% 0;
  text-align: center;
  margin: 0 3% 3%;
  box-shadow: 3px 3px #bebec0;
}

.order--logo {
  width: 10%;
}

.personal--right .order--seen {
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 2%;
  height: 3rem;
  width: 35%;
  font-size: 1rem;
}
.button {
  width: 40%;
  margin: 1rem 0.5rem;
  font-size: 1.2rem !important;
  padding: 7px;
  font-weight: 500;
  border-radius: 9px;
  outline: none;
  border: none;
}
.form-input {
  margin: 0 auto;
  width: 65%;
}

/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: 45%;
  background: #ffffe3;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: 15%;
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .button {
    width: 50%;
  }
  .box {
    margin-top: 15%;
    width: 70%;
  }
  .close-icon {
    top: 10%;
  }
  .text-position {
    text-align: right;
  }
  .personal {
    padding-top: 3%;
  }
  .personal--right .order--title {
    width: 35%;
  }
  .personal--left {
    margin: 0 3%;
  }

  .personal--right {
    margin-top: 0;
  }

  .personal--right .order--details {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .personal--right .order-content {
    width: 50%;
  }
  .personal--right .order--seen {
    height: 2.5rem;
    width: 30%;
    line-height: 0.3rem;
  }
  .personal {
    & p,
    & span {
      font-size: 0.95rem;
    }
  }
}

/* Công việc */
.job-title {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 4.9rem;
  margin-bottom: 3.6rem;
}

.job-itemmm {
  padding: 2.2rem;
  background-color: #fff8e2;
  border-left: 5px solid #fff;
  box-shadow: 4px 4px 10px 2px #ccc;
  width: 100%;
  border-radius: 20px;
}
.job-item:not(:last-child) {
  margin-bottom: 5rem;
}
.job-item:last-child {
  margin-bottom: 6.2rem;
  border-radius: 12px;
}
.job-item-title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.job-item-list {
  display: grid;
  grid-template-columns: 1.5fr 1.3fr 0.9fr 0.6fr;
}
.job-item-list-item {
  display: flex;
  align-items: center;
}
.job-item-list-item span {
  margin-left: 1rem;
  color: #212529;
  font-weight: 500;
  font-size: 1.4rem;
}

.job-list {
  display: flex;
  flex-direction: column;
}

.job-search {
  display: flex;
  max-width: 400px;
  margin-top: 2rem;
  padding: 4px;
  border: 1px solid #ccc;
}
