.category {
  display: flex;
  gap: 40px;
  width: calc((100% / 4) - 40px);
  margin-bottom: 150px;
  .card {
    height: 450px;
    width: 280px;
    background: var(--card);
    border-radius: 20px;
    padding: 25px;
    font-family: sans-serif;
    display: flex;
    color: var(--text);
    align-items: flex-start;
    transition: transform 0.3s;
    & img {
      width: 235px;
      height: 180px;
      border-radius: 14px;
      object-fit: cover;
      margin-bottom: 20px;
    }
    &__title {
      margin-top: 16px;
      font-size: 17px;
      font-weight: 400;
      transition: color 0.3s;
      white-space: nowrap;
      width: 236px;
      font-weight: 700;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__description {
      margin-top: 5px;
      display: block;
      font-size: 15px;
      opacity: 0.6;
      transition: color 0.3s;
    }
    &__shop {
      width: 100%;
      margin-top: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__price {
        color: var(--price);
      }
      &__action {
        height: 40px;
        width: 40px;
        outline: none;
        border: none;
        background: var(--secondary);
        border-radius: 12px;
        cursor: pointer;
        margin-top: auto;
        & span {
          color: #fff;
          font-size: 26px;
        }
      }
    }
    &:hover {
      transform: scale(1.09);
    }
  }
}
